{% extends "base.html" %}

{% block content %}
<style>
    #main-wrap {
        padding: 16px;
    }

    .list {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        overflow: auto;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, .15));
    }

    .list.loading {
        pointer-events: none;
        opacity: 0.3;
    }

    .toolbar {
        padding: 8px;
        background: rgb(246, 246, 246);
    }

    .toolbar h3 {
        margin-top: 6px;
        margin-bottom: 12px;
        margin-left: 6px;
        font-size: 18px;
    }

    .toolbar .elements {
        height: 38px;
        display: flex;
        gap: 8px;
    }

    .toolbar button,
    .toolbar input {
        padding: 8px 16px;
        border-radius: 9999px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
    }

    .toolbar button {
        font-weight: 600;
        background: rgb(237, 237, 237);
        cursor: pointer;
        transition: 0.1s;
    }

    .toolbar button:hover {
        background: rgb(242, 242, 242);
        border-color: rgba(25, 174, 166, 0.635);
        transform: scale(1.02);
    }

    .toolbar button:active {
        transform: scale(0.98);
    }

    .toolbar input {
        width: 100%;
        font-size: 14px;
        transition: 0.05s;
    }

    .toolbar input:focus {
        border-color: rgba(25, 174, 166, 0.635);
    }

    .products .product {
        display: flex;
        width: 100%;
        min-height: 90px;
        box-sizing: border-box;
        padding: 12px;
        gap: 6px;
    }

    .products .product:nth-child(2n) {
        background: rgb(246, 246, 246);
    }

    .products .product .image-wrap {
        min-width: 110px;
        height: 81px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        margin: auto 0;
        overflow: hidden;
        padding: 8px;
    }

    .products .product .image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .products .product .image-wrap.missing {
        border-color: rgba(0, 0, 0, .4);
        opacity: 0.5;
    }

    .products .product .image-wrap.missing .image {
        background-image: url(/static/products/no_image.png);
    }

    .products .product .info {
        margin: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px
    }

    .products .product .info .top {
        display: flex;
        justify-content: space-between;
    }

    .products .product .info .top .name {
        font-weight: bold;
    }

    .products .product .info .code {
        font-weight: 300;
    }

    .products .product .info .materials {
        font-weight: 300;
        margin-right: 80px;
    }

    .products .product .info .materials span {
        margin-right: 5px;
    }

    .paginator {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 16px 0;
    }

    .paginator .page {
        width: 40px;
        height: 32px;
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
        transition: 0.1s;
    }

    .paginator .page:hover {
        opacity: 0.85;
    }

    .paginator .page.active {
        opacity: 1.0;
        font-weight: bold;
    }
</style>

<div id="main-wrap">
    <div class="list">
        <div class="toolbar">
            <h3>Список продукции</h3>
            <div class="elements">
                <input type="text" id="search" placeholder="Введите для поиска...">
                <!-- <button>Поиск</button> -->
            </div>
        </div>
        <div class="products">
            <!-- Динамически созданный контент -->
        </div>
        <div class="paginator">
            <div class="page active">1</div>
        </div>
    </div>
</div>

<script>
    let productsInfo = { currentPage: 1, numPages: 0, result: null, search: "", searchTimeout: null };
    let productsElem = document.querySelector(".products");

    function fetchProducts(cb) {
        document.querySelector(".list").classList.add("loading");

        fetch(`/api/v1/product/?page=${productsInfo.currentPage}&search=${productsInfo.search}`).then(async res => {
            productsInfo.result = await res.json();

            let newNumPages = Math.ceil(productsInfo.result.count / 20);
            if (newNumPages != productsInfo.numPages) {
                productsInfo.numPages = Math.ceil(productsInfo.result.count / 20);

                const paginatorElem = document.querySelector(".paginator");
                paginatorElem.innerHTML = "";

                for (let i = 0; i < productsInfo.numPages; i++) {
                    const pageElem = document.createElement("div");
                    pageElem.innerText = i + 1;
                    pageElem.classList.add("page");

                    if (i + 1 == productsInfo.currentPage) {
                        pageElem.classList.add("active");
                    }

                    pageElem.addEventListener("click", () => {
                        paginatorElem.querySelectorAll(".page").forEach((elem) => {
                            elem.classList.remove("active");
                        });

                        pageElem.classList.add("active");

                        productsInfo.currentPage = i + 1;
                        fetchProducts();
                    });

                    paginatorElem.appendChild(pageElem);
                }
            }

            productsElem.innerHTML = "";
            for (let i = 0; i < productsInfo.result.results.length; i++) {
                let product = productsInfo.result.results[i];

                let productElem = document.createElement("div");
                productElem.classList.add("product");

                let imageWrapElem = document.createElement("div");
                imageWrapElem.classList.add("image-wrap");
                productElem.appendChild(imageWrapElem);

                let imageElem = document.createElement("div");
                imageElem.classList.add("image");
                imageWrapElem.appendChild(imageElem);

                if (product.image && product.image.length > 2) {
                    imageElem.style.backgroundImage = `url(/static${product.image.replace(/\\/g, "/")})`;
                } else {
                    imageWrapElem.classList.add("missing");
                }

                let infoElem = document.createElement("div");
                infoElem.classList.add("info");
                productElem.appendChild(infoElem);

                let topElem = document.createElement("div");
                topElem.classList.add("top");
                infoElem.appendChild(topElem);

                let topNameElem = document.createElement("div");
                topNameElem.classList.add("name");
                topNameElem.innerText = product.name;
                topElem.appendChild(topNameElem);

                let topCostElem = document.createElement("div");
                topCostElem.classList.add("cost");
                topCostElem.innerText = `${product.minCost.toLocaleString()} ₽`;
                topElem.appendChild(topCostElem);

                let codeElem = document.createElement("div");
                codeElem.classList.add("code");
                codeElem.innerText = `Артикул: ${product.code}`;
                infoElem.appendChild(codeElem);

                let materialsElem = document.createElement("div");
                materialsElem.classList.add("materials");
                infoElem.appendChild(materialsElem);

                let materialsHintElem = document.createElement("span");
                materialsElem.appendChild(materialsHintElem);

                if (product.materials.length > 0) {
                    materialsHintElem.innerText = "Материалы:";

                    for (let k = 0; k < product.materials.length; k++) {
                        let matElement = document.createElement("span");
                        matElement.classList.add("material");
                        matElement.innerText = product.materials[k].name;
                        materialsElem.appendChild(matElement);
                    }
                } else {
                    materialsHintElem.innerText = "Материалы не указаны";
                }

                productsElem.appendChild(productElem);
            }

            if (cb) {
                cb();
            }

            window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
            document.querySelector(".list").classList.remove("loading");
        });
    }

    document.querySelector("#search").addEventListener("input", (e) => {
        if (productsInfo.searchTimeout) {
            clearTimeout(productsInfo.searchTimeout);
            productsInfo.searchTimeout = null;
        }

        productsInfo.search = e.srcElement.value;

        productsInfo.searchTimeout = setTimeout(() => {
            fetchProducts();
            productsInfo.searchTimeout = null;
        }, 600);
    });

    fetchProducts();
</script>

{% endblock %}