{% extends "base.html" %}

{% block content %}
<style>
    #main-wrap {
        padding: 16px;
    }

    .list {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        overflow: auto;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, .15));
        overflow: hidden;
    }

    .list.loading {
        pointer-events: none;
        opacity: 0.3;
    }

    .toolbar {
        padding: 8px;
        background: rgb(246, 246, 246);
    }

    .toolbar h3 {
        margin-top: 6px;
        margin-bottom: 12px;
        margin-left: 6px;
        font-size: 18px;
    }

    .toolbar .elements {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .toolbar button,
    .toolbar input {
        padding: 8px 16px;
        border-radius: 9999px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
    }

    .toolbar button {
        font-weight: 600;
        background: rgb(237, 237, 237);
        cursor: pointer;
        transition: 0.1s;
    }

    .toolbar button:hover {
        background: rgb(242, 242, 242);
        transform: scale(1.02);
    }

    .toolbar button:active {
        transform: scale(0.98);
    }

    .toolbar input {
        width: 100%;
        font-size: 14px;
        transition: 0.05s;
    }

    .toolbar .top {
        display: flex;
        justify-content: space-between;
    }

    .toolbar .top button {
        padding: 0;
        height: 32px;
        width: 32px;
    }
    
    .products .product {
        display: flex;
        width: 100%;
        min-height: 90px;
        box-sizing: border-box;
        padding: 12px;
        gap: 6px;
        transition: 0.2s;
        cursor: pointer;
        opacity: 0.8;
    }

    .products .product:hover {
        opacity: 1;
    }

    .products .product:nth-child(2n) {
        background: rgb(246, 246, 246);
    }

    .products .product .image-wrap {
        min-width: 110px;
        height: 81px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        margin: auto 0;
        overflow: hidden;
        padding: 8px;
    }

    .products .product .image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .products .product .image-wrap.missing {
        border-color: rgba(0, 0, 0, .4);
        opacity: 0.5;
    }

    .products .product .image-wrap.missing .image {
        background-image: url(/static/products/no_image.png);
    }

    .products .product .info {
        margin: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .products .product .info .top {
        display: flex;
        justify-content: space-between;
    }

    .products .product .info .top .name {
        font-weight: bold;
    }

    .products .product .info .code {
        font-weight: 300;
    }

    .products .product .info .materials {
        font-weight: 300;
        margin-right: 80px;
        opacity: 0.7;
    }

    .products .product .info .materials span {
        margin-right: 5px;
    }

    .paginator {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 16px;
    }

    .paginator .page {
        width: 40px;
        height: 32px;
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
        transition: 0.1s;
    }

    .paginator .page:hover {
        opacity: 0.85;
    }

    .paginator .page.active {
        opacity: 1.0;
        font-weight: bold;
    }

    .filters {
        display: flex;
        gap: 8px;
    }

    .filters .filterButton {
        opacity: 0.4;
    }

    .filters .filterButton i {
        margin-right: 12px;
    }

    .filters button.active {
        opacity: 1.0;
    }

    .filters .right {
        margin-left: auto;
    }

    .context-wrap {
        position: relative;
    }

    .context-wrap .menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 170px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        background: rgba(0, 0, 0, .08);
        backdrop-filter: blur(8px);
        border-radius: 16px;
        gap: 6px;
        opacity: 0;
        transition: 0.09s;
        pointer-events: none;
        z-index: 5;
    }

    .context-wrap .menu.visible {
        pointer-events: all;
        opacity: 1;
    }

    .context-wrap .menu button {
        border-radius: 32px;
    }

    #overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(6px);
        z-index: 9999;
        display: none;
    }

    #overlay.visible {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #overlay .form {
        width: 450px;
        padding: 24px 20px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #overlay .form h4 {
        margin-bottom: 12px;
        text-align: center;
    }

    #overlay .form .buttons {
        display: flex;
        gap: 8px;
    }

    #overlay .form input, #overlay .form button {
        padding: 8px 16px;
        border-radius: 9999px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
        flex: 1;
        transition: 0.1s;
    }

    #overlay .form button:hover {
        cursor: pointer;
        font-weight: bold;
    }

    #overlay .form .field {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #overlay .form .field h5 {
        margin-bottom: 4px;
        margin-left: 8px;
    }
</style>

<div id="main-wrap">
    <div class="list">
        <div class="toolbar">
            <div class="top">
                <h3>Список продукции</h3>
                <button><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="elements">
                <input type="text" id="search" placeholder="Введите для поиска...">
                <div class="filters">
                    <button class="typeButton"><i class="fa-solid fa-arrow-down"></i></button>
                    <button class="filterButton active"><i class="fa-solid fa-font"></i>По названию</button>
                    <button class="filterButton"><i class="fa-solid fa-ruble-sign"></i>По цене</button>
                    <button class="filterButton"><i class="fa-solid fa-industry"></i>По цеху</button>
                    <div class="right">
                        <div class="context-wrap">
                            <button>Фильтры</button>
                            <div class="menu" id="context-filters"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <!-- Динамически созданный контент -->
        </div>
        <div class="paginator">
            <div class="page active">1</div>
        </div>
    </div>
    <div id="overlay">
        <div class="form">
            <h4 id="overlay-caption">Редактирование продукции</h4>
            <div class="field">
                <h5>Название</h5>
                <input type="text" id="product-name" placeholder="Наименование продукции...">
            </div>
            <div class="field">
                <h5>Артикул</h5>
                <input type="text" id="product-code" placeholder="Артикул...">
            </div>
            <div class="field">
                <h5>Кол-во человек для производства</h5>
                <input type="text" id="product-numPeople" placeholder="Кол-во человек для производства...">
            </div>
            <div class="field">
                <h5>Цех</h5>
                <input type="text" id="product-workshop" placeholder="Номер цеха...">
            </div>
            <div class="field">
                <h5>Минимальная стоимость</h5>
                <input type="text" id="product-minCost" placeholder="Минимальная стоимость...">
            </div>
            <div class="buttons">
                <button id="overlayOk">ОК</button>
                <button id="overlayCancel">Отмена</button>
            </div>
        </div>
    </div>
</div>

<script>
    let productsInfo = { overlayId: 0, overlayProduct: null, currentPage: 1, numPages: 0, result: null, search: "", searchTimeout: null, sortType: 0, sortKind: 0, productTypes: [], selectedProduct: -1 };
    let productsElem = document.querySelector(".products");

    function fetchProducts(cb) {
        document.querySelector(".list").classList.add("loading");

        let orderingParam = "ordering=" + ((productsInfo.sortType == 0) ? "-" : "+");

        if (productsInfo.sortKind == 0) {
            orderingParam += "name";
        } else if (productsInfo.sortKind == 1) {
            orderingParam += "minCost";
        } else if (productsInfo.sortKind == 2) {
            orderingParam += "workshop";
        }

        let typeParam = "";

        if (productsInfo.selectedProduct != -1) {
            let id = productsInfo.productTypes[productsInfo.selectedProduct].id;

            if (id != -1) {
                typeParam += `&type=${id}`;
            }
        }

        fetch(`/api/v1/product/?page=${productsInfo.currentPage}&search=${productsInfo.search}&${orderingParam}${typeParam}`).then(async res => {
            productsInfo.result = await res.json();

            let newNumPages = Math.ceil(productsInfo.result.count / 20);
            if (newNumPages != productsInfo.numPages) {
                productsInfo.numPages = Math.ceil(productsInfo.result.count / 20);

                const paginatorElem = document.querySelector(".paginator");
                paginatorElem.innerHTML = "";

                for (let i = 0; i < productsInfo.numPages; i++) {
                    const pageElem = document.createElement("div");
                    pageElem.innerText = i + 1;
                    pageElem.classList.add("page");

                    if (i + 1 == productsInfo.currentPage) {
                        pageElem.classList.add("active");
                    }

                    pageElem.addEventListener("click", () => {
                        paginatorElem.querySelectorAll(".page").forEach((elem) => {
                            elem.classList.remove("active");
                        });

                        pageElem.classList.add("active");

                        productsInfo.currentPage = i + 1;
                        fetchProducts();
                    });

                    paginatorElem.appendChild(pageElem);
                }
            }

            productsElem.innerHTML = "";
            for (let i = 0; i < productsInfo.result.results.length; i++) {
                let product = productsInfo.result.results[i];

                let productElem = document.createElement("div");
                productElem.classList.add("product");

                let imageWrapElem = document.createElement("div");
                imageWrapElem.classList.add("image-wrap");
                productElem.appendChild(imageWrapElem);

                let imageElem = document.createElement("div");
                imageElem.classList.add("image");
                imageWrapElem.appendChild(imageElem);

                if (product.image && product.image != "null" && product.image.length > 2) {
                    imageElem.style.backgroundImage = `url(/static${product.image.replace(/\\/g, "/")})`;
                } else {
                    imageWrapElem.classList.add("missing");
                }

                let infoElem = document.createElement("div");
                infoElem.classList.add("info");
                productElem.appendChild(infoElem);

                let topElem = document.createElement("div");
                topElem.classList.add("top");
                infoElem.appendChild(topElem);

                let topNameElem = document.createElement("div");
                topNameElem.classList.add("name");
                topNameElem.innerText = product.name;
                topElem.appendChild(topNameElem);

                let topCostElem = document.createElement("div");
                topCostElem.classList.add("cost");
                topElem.appendChild(topCostElem);

                let codeElem = document.createElement("div");
                codeElem.classList.add("code");
                codeElem.innerText = `${product.type} / Артикул: ${product.code} / Цех №${product.workshop}`;
                infoElem.appendChild(codeElem);

                let materialsElem = document.createElement("div");
                materialsElem.classList.add("materials");
                infoElem.appendChild(materialsElem);

                let materialsHintElem = document.createElement("span");
                materialsElem.appendChild(materialsHintElem);

                if (product.materials.length > 0) {
                    materialsHintElem.innerText = "Материалы:";

                    for (let k = 0; k < product.materials.length; k++) {
                        let matElement = document.createElement("span");
                        matElement.classList.add("material");

                        let material = product.materials[k];
                        let numMaterials = product.number[material.id];

                        matElement.innerText = `${material.name} (${numMaterials})`;
                        materialsElem.appendChild(matElement);
                    }
                } else {
                    materialsHintElem.innerText = "Материалы не указаны";
                }

                topCostElem.innerText = `${product.minCost.toLocaleString("en-us")} ₽`;
                productsElem.appendChild(productElem);

                productElem.addEventListener("click", () => {
                    productsInfo.overlayProduct = product;
                    document.querySelector("#product-name").value = product.name;
                    document.querySelector("#product-code").value = product.code;
                    document.querySelector("#product-numPeople").value = product.numPeopleToProduce;
                    document.querySelector("#product-workshop").value = product.workshop;
                    document.querySelector("#product-minCost").value = product.minCost;
                    document.querySelector("#overlay-caption").innerHTML = "Редактирование продукции";
                    document.querySelector("#overlay").classList.add("visible");
                });
            }

            if (cb) {
                cb();
            }

            window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
            document.querySelector(".list").classList.remove("loading");
        });
    }

    document.querySelector(".typeButton").addEventListener("click", () => {
        if (productsInfo.sortType == 0) {
            productsInfo.sortType = 1;
            document.querySelector(".typeButton").innerHTML = `<i class="fa-solid fa-arrow-up"></i>`;
        } else {
            productsInfo.sortType = 0;
            document.querySelector(".typeButton").innerHTML = `<i class="fa-solid fa-arrow-down"></i>`;
        }

        if (productsInfo.searchTimeout) {
            clearTimeout(productsInfo.searchTimeout);
            productsInfo.searchTimeout = null;
        }

        fetchProducts();
    });

    document.addEventListener("click", (e) => {
        if (!e.srcElement || !e.srcElement.parentElement) return;

        if (e.srcElement.parentElement && e.srcElement.parentElement.classList.contains("menu")) {
            e.srcElement.parentElement.classList.remove("visible");
            return;
        }

        let linkedMenu = e.srcElement.parentElement.querySelector(":scope > .menu");

        if (linkedMenu) {
            if (!linkedMenu.classList.contains("visible")) {
                document.querySelectorAll(".menu.visible").forEach(menu => {
                    if (menu != linkedMenu) {
                        menu.classList.remove("visible");
                    }
                });
            }

            linkedMenu.classList.toggle("visible");
        }
    })

    document.querySelectorAll(".filterButton").forEach((button, index) => {
        button.addEventListener("click", () => {
            if (productsInfo.sortKind != index) {
                document.querySelectorAll(".filterButton").forEach(i => { i.classList.remove("active"); });
                button.classList.add("active");
                productsInfo.sortKind = index;
                fetchProducts();
            }
        });
    });

    document.querySelector("#search").addEventListener("input", (e) => {
        if (productsInfo.searchTimeout) {
            clearTimeout(productsInfo.searchTimeout);
            productsInfo.searchTimeout = null;
        }

        productsInfo.search = e.srcElement.value;

        productsInfo.searchTimeout = setTimeout(() => {
            productsInfo.currentPage = 1;
            productsInfo.searchTimeout = null;
            fetchProducts();
        }, 600);
    });

    fetch("/api/v1/products/types").then(async res => {
        let productTypes = await res.json();

        productTypes.unshift({ id: -1, name: "Все" });
        productsInfo.productTypes = productTypes;

        let filtersContext = document.querySelector("#context-filters");
        for (let i = 0; i < productsInfo.productTypes.length; i++) {
            let buttonElem = document.createElement("button");
            buttonElem.innerText = productsInfo.productTypes[i].name;

            buttonElem.addEventListener("click", () => {
                productsInfo.selectedProduct = i;
                fetchProducts();
            });

            filtersContext.appendChild(buttonElem);
        }
    });

    document.querySelector("#overlayOk").addEventListener("click", () => {
        let updatedObject = { ...productsInfo.overlayProduct };

        if (productsInfo.overlayId == 0) {
            delete updatedObject.number;
            delete updatedObject.materials;
            updatedObject.materials_ids = [];
            updatedObject.number_id = [];

            for (let i = 0; i < productsInfo.overlayProduct.materials.length; i++) {
                updatedObject.materials_ids.push(productsInfo.overlayProduct.materials[i].id);
                updatedObject.number_id.push(productsInfo.overlayProduct.number[productsInfo.overlayProduct.materials[i].id]);
            }

            updatedObject.name = document.querySelector("#product-name").value;
            updatedObject.code = document.querySelector("#product-code").value;
            updatedObject.numPeopleToProduce = document.querySelector("#product-numPeople").value;
            updatedObject.workshop = document.querySelector("#product-workshop").value;
            updatedObject.minCost = document.querySelector("#product-minCost").value;
            
            fetch(`/api/v1/product/${updatedObject.id}/`, {
                headers: {
                    "Content-Type": "application/json",
                },
                method: "PUT",
                body: JSON.stringify(updatedObject)
            }).then(async r => {
                document.querySelector("#overlay").classList.remove("visible");
                console.log(await r.text());
                fetchProducts();
            });
        } else {

        }
    });

    document.querySelector("#overlayCancel").addEventListener("click", () => {
        document.querySelector("#overlay").classList.remove("visible");
    });

    fetchProducts();
</script>

{% endblock %}