{% extends "base.html" %}

{% block content %}
<style>
    #main-wrap {
        padding: 16px;
        overflow: auto;
        height: 100vh;
        max-height: 100vh;
    }

    .list {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, .15));
    }

    .list.loading {
        pointer-events: none;
        opacity: 0.3;
    }

    .toolbar {
        padding: 8px;
        background: rgb(246, 246, 246);
    }

    .toolbar h3 {
        margin-top: 6px;
        margin-bottom: 12px;
        margin-left: 6px;
        font-size: 18px;
    }

    .toolbar .elements {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .toolbar button,
    .toolbar input {
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
        text-align: left;
    }

    .toolbar button {
        font-weight: 600;
        background: rgb(237, 237, 237);
        cursor: pointer;
        transition: 0.1s;
    }

    .toolbar button:hover {
        background: rgb(242, 242, 242);
        transform: scale(1.02);
    }

    .toolbar button:active {
        transform: scale(0.98);
    }

    .toolbar input {
        width: 100%;
        font-size: 14px;
        transition: 0.05s;
    }

    .toolbar .top {
        display: flex;
        justify-content: space-between;
    }

    .toolbar .top button {
        padding: 0;
        height: 32px;
        width: 32px;
        text-align: center;
    }

    .products .product {
        display: flex;
        width: 100%;
        min-height: 90px;
        box-sizing: border-box;
        padding: 12px;
        gap: 6px;
        transition: 0.2s;
        cursor: pointer;
        opacity: 0.8;
        position: relative;
    }

    .products .product::after {
        content: "\f304";
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        position: absolute;
        right: -12px;
        top: 50%;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, .1);
        border-radius: 50%;
        margin-left: 16px;
        transform: translate(0, -50%);
        opacity: 0;
        transition: 0.1s;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, .25);
        font-size: 16px;
        pointer-events: none;
    }
    
    .products .product:hover::after {
        transform: translate(100%, -50%);
        opacity: 1;
    }

    .products .product:hover {
        opacity: 1;
    }

    .products .product:nth-child(2n) {
        background: rgb(246, 246, 246);
    }

    .products .product .image-wrap {
        min-width: 110px;
        height: 81px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        margin: auto 0;
        overflow: hidden;
        padding: 8px;
    }

    .products .product .image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .products .product .image-wrap.missing {
        border-color: rgba(0, 0, 0, .4);
        opacity: 0.5;
    }

    .products .product .image-wrap.missing .image {
        background-image: url(/static/products/no_image.png);
    }

    .products .product .info {
        margin: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .products .product .info .top {
        display: flex;
        justify-content: space-between;
    }

    .products .product .info .top .name {
        font-weight: bold;
    }

    .products .product .info .code {
        font-weight: 300;
    }

    .products .product .info .materials {
        font-weight: 300;
        margin-right: 80px;
        opacity: 0.7;
        padding-right: 4px;
    }

    .products .product .info .materials span {
        margin-right: 5px;
    }

    .paginator {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 16px;
    }

    .paginator .page {
        height: 32px;
        min-width: 40px;
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
        transition: 0.1s;
        padding: 0 14px;
    }

    .paginator .page:hover {
        opacity: 0.85;
    }

    .paginator .page.active {
        opacity: 1.0;
        font-weight: bold;
    }

    .filters {
        display: flex;
        gap: 8px;
    }

    .filters .sortButton {
        opacity: 0.4;
    }

    .filters .sortButton i {
        margin-right: 12px;
    }

    .filters button.active {
        opacity: 1.0;
    }

    .filters .right {
        margin-left: auto;
    }

    .context-wrap {
        position: relative;
    }

    .context-wrap .menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 170px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        background: rgba(0, 0, 0, .12);
        backdrop-filter: blur(8px);
        border-radius: 4px;
        gap: 6px;
        opacity: 0;
        transition: 0.09s;
        pointer-events: none;
        z-index: 5;
    }

    .context-wrap .menu.visible {
        pointer-events: all;
        opacity: 1;
    }

    #overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(6px);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.1s;
        pointer-events: none;
    }

    #overlay.visible {
        pointer-events: all;
        opacity: 1;
    }

    #overlay .form {
        padding: 24px 20px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        display: none;
        z-index: 5;
        font-size: 13px;
        max-height: 564px;
    }

    #overlay .form.visible {
        display: flex;
        gap: 8px;
    }

    #overlay .form .left {
        width: 340px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 8px;
    }

    #overlay .form .right {
        border-left: 1px solid rgba(0, 0, 0, .2);
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #overlay .form h4 {
        margin-bottom: 12px;
        text-align: center;
        font-size: 16px;
    }

    #overlay .form .buttons {
        display: flex;
        gap: 8px;
        margin-top: 6px;
    }

    #overlay .form input,
    #overlay .form button,
    .select-wrapper select {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
        flex: 1;
        transition: 0.1s;
    }

    #overlay .form button {
        font-weight: bold;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        font-size: 14px;
        cursor: pointer;
        transition: 0.1s;
    }

    #overlay .form button:hover {
        filter: brightness(1.1);
    }

    #overlay .form .field {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #overlay .form .field h5 {
        margin-bottom: 4px;
        margin-left: 4px;
        font-size: 14px;
    }

    #overlay .form .right h4 {
        text-align: left;
        margin-left: 8px;
    }

    #overlay .form .materials {
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        gap: 4px;
        padding-right: 4px;
    }

    #overlay .form .materials .material {
        display: flex;
        gap: 4px;
    }

    #overlay .form .materials .material .name,
    #overlay .form .materials .material .count {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
        transition: 0.1s;
    }

    #overlay .form .materials .material .name {
        flex: 1;
        max-width: 240px;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }

    #overlay .form .materials .material .count {
        width: 33px;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: unset;
    }

    #overlay .form .materials .material button {
        flex: unset;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);
        outline: none;
        background: rgb(255, 255, 255);
        width: 33px;
        padding: 0;
    }

    .select-wrapper {
        position: relative;
    }

    .select-wrapper select {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
    }

    .select-wrapper::after {
        content: "\f0d7";
        position: absolute;
        top: 50%;
        right: 12px;
        font-size: 14px;
        transform: translateY(-50%);
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        pointer-events: none;
    }

    button.gray {
        background: #6b6b6b !important;
        color: #fff;
    }

    button.blue {
        background: rgb(0, 171, 255) !important;
        color: #fff;
    }

    button.red {
        background: rgb(242, 80, 103) !important;
        color: #fff;
    }

    .lds-spinner {
        color: official;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
    }

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

    .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #fff;
    }

    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }

    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }

    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }

    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }

    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }

    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }

    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }

    .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }

    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }

    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }

    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }

    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }

    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div id="main-wrap">
    <div class="list">
        <div class="toolbar">
            <div class="top">
                <h3>Список продукции</h3>
                <button id="addNewButton"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="elements">
                <input type="text" id="search" placeholder="Введите для поиска...">
                <div class="filters">
                    <button class="sortTypeButton"><i class="fa-solid fa-arrow-down"></i></button>
                    <button class="sortButton active"><i class="fa-solid fa-font"></i>По названию</button>
                    <button class="sortButton"><i class="fa-solid fa-ruble-sign"></i>По цене</button>
                    <button class="sortButton"><i class="fa-solid fa-industry"></i>По цеху</button>
                    <div class="right">
                        <div class="context-wrap">
                            <button id="currFilter">Фильтр</button>
                            <div class="menu" id="context-filters"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <!-- Динамически созданный контент -->
        </div>
        <div class="paginator">
            <div class="page active">1</div>
        </div>
    </div>
    <div id="overlay">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="form">
            <div class="left">
                <h4 id="overlay-caption">Редактирование продукции</h4>
                <div class="field">
                    <h5>Название</h5>
                    <input type="text" autocomplete="off" id="product-name" placeholder="Наименование продукции...">
                </div>
                <div class="field">
                    <h5>Тип</h5>
                    <div class="select-wrapper">
                        <select id="product-type"></select>
                    </div>
                </div>
                <div class="field">
                    <h5>Артикул</h5>
                    <input type="text" autocomplete="off" id="product-code" placeholder="Артикул...">
                </div>
                <div class="field">
                    <h5>Изображение</h5>
                    <input type="text" autocomplete="off" id="product-image" placeholder="Изображение...">
                </div>
                <div class="field">
                    <h5>Кол-во человек для производства</h5>
                    <input type="text" autocomplete="off" id="product-numPeople" placeholder="Число...">
                </div>
                <div class="field">
                    <h5>Цех</h5>
                    <input type="text" autocomplete="off" id="product-workshop" placeholder="Номер цеха...">
                </div>
                <div class="field">
                    <h5>Минимальная стоимость</h5>
                    <input type="text" autocomplete="off" id="product-minCost" placeholder="Минимальная стоимость...">
                </div>
                <div class="buttons">
                    <button id="overlayOk" class="blue">ОК</button>
                    <button id="overlayCancel" class="gray">Отмена</button>
                    <button id="overlayDelete" class="red">Удалить</button>
                </div>
            </div>
            <div class="right">
                <h4>Выбор материалов</h4>
                <div class="materials" id="materialList"></div>
            </div>
        </div>
    </div>
</div>

<script>
    let productsInfo = { overlayId: 0, overlayProduct: null, currentPage: 1, numPages: 0, result: null, search: "", searchTimeout: null, sortType: 0, sortKind: 0, productTypes: [], selectedProductType: -1, materials: null };
    let productsElem = document.querySelector(".products");

    const overlayElem = document.querySelector("#overlay");

    function fillMaterialList(product) {
        let materialListElem = document.querySelector("#materialList");
        materialListElem.innerHTML = "";

        productsInfo.materials.forEach((material) => {
            let materialElem = document.createElement("div");
            materialElem.classList.add("material");

            let nameElem = document.createElement("div");
            nameElem.classList.add("name");
            nameElem.innerText = material.name;
            materialElem.appendChild(nameElem);

            let countElem = document.createElement("input");
            countElem.type = "number";
            countElem.classList.add("count");
            countElem.classList.add("material-number");
            countElem.material = material;

            if (product == null) {
                countElem.value = 0;
            } else {
                if (product.materials.find(m => m.id == material.id)) {
                    countElem.value = product.number[material.id];
                } else {
                    countElem.value = 0;
                }
            }

            materialElem.appendChild(countElem);

            let incButtonElem = document.createElement("button");
            incButtonElem.innerText = "+";
            incButtonElem.addEventListener("click", () => { countElem.value++; });
            materialElem.appendChild(incButtonElem);

            let decButtonElem = document.createElement("button");
            decButtonElem.innerText = "-";
            decButtonElem.addEventListener("click", () => { if (countElem.value > 0) countElem.value--; });
            materialElem.appendChild(decButtonElem);

            materialListElem.appendChild(materialElem);
        });
    }

    function fetchProducts(cb) {
        document.querySelector(".list").classList.add("loading");

        let orderingParam = "ordering=" + ((productsInfo.sortType == 0) ? "-" : "+");

        if (productsInfo.sortKind == 0) {
            orderingParam += "name";
        } else if (productsInfo.sortKind == 1) {
            orderingParam += "minCost";
        } else if (productsInfo.sortKind == 2) {
            orderingParam += "workshop";
        }

        let typeParam = "";

        if (productsInfo.selectedProductType != -1) {
            let id = productsInfo.productTypes[productsInfo.selectedProductType].id;

            if (id != -1) {
                typeParam += `&type=${id}`;
            }
        }

        fetch(`/api/v1/product/?page=${productsInfo.currentPage}&search=${productsInfo.search}&${orderingParam}${typeParam}`).then(async res => {
            productsInfo.result = await res.json();

            let newNumPages = Math.ceil(productsInfo.result.count / 20);
            if (newNumPages != productsInfo.numPages) {
                productsInfo.numPages = Math.ceil(productsInfo.result.count / 20);

                const paginatorElem = document.querySelector(".paginator");
                paginatorElem.innerHTML = "";

                for (let i = 0; i < productsInfo.numPages; i++) {
                    const pageElem = document.createElement("div");
                    pageElem.innerText = i + 1;
                    pageElem.classList.add("page");

                    if (i + 1 == productsInfo.currentPage) {
                        pageElem.classList.add("active");
                    }

                    pageElem.addEventListener("click", () => {
                        paginatorElem.querySelectorAll(".page").forEach((elem) => {
                            elem.classList.remove("active");
                        });

                        pageElem.classList.add("active");

                        productsInfo.currentPage = i + 1;
                        fetchProducts();
                    });

                    paginatorElem.appendChild(pageElem);
                }
            }

            productsElem.innerHTML = "";
            for (let i = 0; i < productsInfo.result.results.length; i++) {
                let product = productsInfo.result.results[i];

                let productElem = document.createElement("div");
                productElem.classList.add("product");

                let imageWrapElem = document.createElement("div");
                imageWrapElem.classList.add("image-wrap");
                productElem.appendChild(imageWrapElem);

                let imageElem = document.createElement("div");
                imageElem.classList.add("image");
                imageWrapElem.appendChild(imageElem);

                if (product.image && product.image != "null" && product.image.length > 2) {
                    imageElem.style.backgroundImage = `url(/static${product.image.replace(/\\/g, "/")})`;
                } else {
                    imageWrapElem.classList.add("missing");
                }

                let infoElem = document.createElement("div");
                infoElem.classList.add("info");
                productElem.appendChild(infoElem);

                let topElem = document.createElement("div");
                topElem.classList.add("top");
                infoElem.appendChild(topElem);

                let topNameElem = document.createElement("div");
                topNameElem.classList.add("name");
                topNameElem.innerText = product.name;
                topElem.appendChild(topNameElem);

                let topCostElem = document.createElement("div");
                topCostElem.classList.add("cost");
                topElem.appendChild(topCostElem);

                let codeElem = document.createElement("div");
                codeElem.classList.add("code");
                codeElem.innerText = `${product.type} / Артикул: ${product.code} / Цех №${product.workshop}`;
                infoElem.appendChild(codeElem);

                let materialsElem = document.createElement("div");
                materialsElem.classList.add("materials");
                infoElem.appendChild(materialsElem);

                let materialsHintElem = document.createElement("span");
                materialsElem.appendChild(materialsHintElem);

                if (product.materials.length > 0) {
                    materialsHintElem.innerText = "Материалы:";

                    for (let k = 0; k < product.materials.length; k++) {
                        let matElement = document.createElement("span");
                        matElement.classList.add("material");

                        let material = product.materials[k];
                        let numMaterials = product.number[material.id];

                        matElement.innerText = `${material.name} (${numMaterials})`;
                        materialsElem.appendChild(matElement);
                    }
                } else {
                    materialsHintElem.innerText = "Материалы не указаны";
                }

                topCostElem.innerText = `${product.minCost.toLocaleString("en-us")} ₽`;
                productsElem.appendChild(productElem);

                productElem.addEventListener("click", () => {
                    productsInfo.overlayProduct = product;
                    fillMaterialList(product);
                    document.querySelector("#product-name").value = product.name;
                    document.querySelector("#product-type").value = product.type;
                    document.querySelector("#product-code").value = product.code;
                    document.querySelector("#product-image").value = product.image;
                    document.querySelector("#product-numPeople").value = product.numPeopleToProduce;
                    document.querySelector("#product-workshop").value = product.workshop;
                    document.querySelector("#product-minCost").value = product.minCost;
                    document.querySelector("#overlay-caption").innerHTML = "Редактирование продукции";
                    document.querySelector("#overlayDelete").style.display = "block";
                    overlayElem.querySelector(".form").classList.add("visible");
                    overlayElem.classList.add("visible");
                    productsInfo.overlayId = 0;
                });
            }

            if (cb) {
                cb();
            }

            document.querySelector("#main-wrap").scrollTo({ top: 0, left: 0, behavior: "smooth" });
            document.querySelector(".list").classList.remove("loading");
        });
    }

    document.querySelector(".sortTypeButton").addEventListener("click", (e) => {
        if (productsInfo.sortType == 0) {
            productsInfo.sortType = 1;
            document.querySelector(".sortTypeButton").innerHTML = `<i class="fa-solid fa-arrow-up"></i>`;
        } else {
            productsInfo.sortType = 0;
            document.querySelector(".sortTypeButton").innerHTML = `<i class="fa-solid fa-arrow-down"></i>`;
        }

        if (productsInfo.searchTimeout) {
            clearTimeout(productsInfo.searchTimeout);
            productsInfo.searchTimeout = null;
        }

        fetchProducts();
    });

    document.addEventListener("click", (e) => {
        if (!e.srcElement || !e.srcElement.parentElement) return;

        if (e.srcElement.parentElement && e.srcElement.parentElement.classList.contains("menu")) {
            e.srcElement.parentElement.classList.remove("visible");
            return;
        }

        let linkedMenu = e.srcElement.parentElement.querySelector(":scope > .menu");

        if (linkedMenu) {
            if (!linkedMenu.classList.contains("visible")) {
                document.querySelectorAll(".menu.visible").forEach(menu => {
                    if (menu != linkedMenu) {
                        menu.classList.remove("visible");
                    }
                });
            }

            linkedMenu.classList.toggle("visible");
        }
    })

    document.querySelectorAll(".sortButton").forEach((button, index) => {
        button.addEventListener("click", () => {
            if (productsInfo.sortKind != index) {
                document.querySelectorAll(".sortButton").forEach(i => { i.classList.remove("active"); });
                button.classList.add("active");
                productsInfo.sortKind = index;
                fetchProducts();
            }
        });
    });

    document.querySelector("#search").addEventListener("input", (e) => {
        if (productsInfo.searchTimeout) {
            clearTimeout(productsInfo.searchTimeout);
            productsInfo.searchTimeout = null;
        }

        productsInfo.search = e.srcElement.value;

        productsInfo.searchTimeout = setTimeout(() => {
            productsInfo.currentPage = 1;
            productsInfo.searchTimeout = null;
            fetchProducts();
        }, 600);
    });

    document.addEventListener("keydown", (e) => {
        if (e.key == "Escape") {
            overlayElem.classList.remove("visible");
        }
    });

    overlayElem.addEventListener("click", (e) => {
        if (overlayElem == e.srcElement) {
            overlayElem.classList.remove("visible");
        }
    });

    fetch("/api/v1/material").then(async res => {
        productsInfo.materials = await res.json();
    });

    fetch("/api/v1/products/types").then(async res => {
        let productTypes = await res.json();

        productTypes.unshift({ id: -1, name: "Все" });
        productsInfo.productTypes = productTypes;

        let filtersContext = document.querySelector("#context-filters");
        let productTypeElem = document.querySelector("#product-type");

        for (let i = 0; i < productsInfo.productTypes.length; i++) {
            let buttonElem = document.createElement("button");
            buttonElem.innerText = productsInfo.productTypes[i].name;

            buttonElem.addEventListener("click", () => {
                productsInfo.selectedProductType = i;
                fetchProducts();
            });

            filtersContext.appendChild(buttonElem);

            if (i != 0) {
                // Если это не вариант "Все", то добавить пункт в select
                let optionElem = document.createElement("option");
                optionElem.value = productsInfo.productTypes[i].name;
                optionElem.innerText = productsInfo.productTypes[i].name;
                productTypeElem.appendChild(optionElem);
            }
        }
    });

    document.querySelector("#addNewButton").addEventListener("click", () => {
        productsInfo.overlayProduct = null;
        fillMaterialList(null);

        document.querySelector("#product-name").value = "";
        document.querySelector("#product-type").selectedIndex = 0;
        document.querySelector("#product-code").value = "";
        document.querySelector("#product-image").value = "";
        document.querySelector("#product-numPeople").value = "";
        document.querySelector("#product-workshop").value = "";
        document.querySelector("#product-minCost").value = "";
        document.querySelector("#overlay-caption").innerHTML = "Добавление продукции";
        overlayElem.classList.add("visible");
        overlayElem.querySelector(".form").classList.add("visible");
        document.querySelector("#overlayDelete").style.display = "none";
        productsInfo.overlayId = 1;
    });

    document.querySelector("#overlayOk").addEventListener("click", () => {
        let updatedObject = { ...productsInfo.overlayProduct };

        // Сформировать список использованных материалов
        let materials_ids = [];
        let number_id = [];
        let materialElems = document.querySelectorAll(".material-number");
        materialElems.forEach(matElem => {
            if (matElem.value > 0) {
                let material = matElem.material;
                materials_ids.push(material.id);
                number_id.push(matElem.value);
            }
        });

        if (productsInfo.overlayId == 0) {
            // Обновление записи
            delete updatedObject.number;
            delete updatedObject.materials;
            updatedObject.materials_ids = materials_ids;
            updatedObject.number_id = number_id;

            updatedObject.name = document.querySelector("#product-name").value;
            updatedObject.type = document.querySelector("#product-type").value;
            updatedObject.code = document.querySelector("#product-code").value;
            updatedObject.image = document.querySelector("#product-image").value;
            updatedObject.numPeopleToProduce = document.querySelector("#product-numPeople").value;
            updatedObject.workshop = document.querySelector("#product-workshop").value;
            updatedObject.minCost = document.querySelector("#product-minCost").value;
            overlayElem.querySelector(".form").classList.remove("visible");

            fetch(`/api/v1/product/${updatedObject.id}/`, {
                headers: {
                    "Content-Type": "application/json",
                },
                method: "PUT",
                body: JSON.stringify(updatedObject)
            }).then(async r => {
                console.log(await r.text());
                fetchProducts(() => overlayElem.classList.remove("visible"));
            });
        } else {
            // Добавление новой записи
            let name = document.querySelector("#product-name").value;
            let type = document.querySelector("#product-type").value;
            let code = document.querySelector("#product-code").value;
            let image = document.querySelector("#product-image").value;
            let numPeopleToProduce = document.querySelector("#product-numPeople").value;
            let workshop = document.querySelector("#product-workshop").value;
            let minCost = document.querySelector("#product-minCost").value;

            if (name && type && code && numPeopleToProduce && workshop && minCost) {
                overlayElem.querySelector(".form").classList.remove("visible");

                fetch(`/api/v1/product/`, {
                    headers: {
                        "Content-Type": "application/json",
                    },
                    method: "POST",
                    body: JSON.stringify({
                        materials_ids,
                        number_id,
                        name,
                        code,
                        image,
                        numPeopleToProduce,
                        minCost,
                        workshop,
                        type
                    })
                }).then(async r => {
                    console.log(await r.text());
                    fetchProducts(() => overlayElem.classList.remove("visible"));
                });
            }
        }
    });

    document.querySelector("#overlayCancel").addEventListener("click", () => {
        overlayElem.classList.remove("visible");
    });

    document.querySelector("#overlayDelete").addEventListener("click", () => {
        if (productsInfo.overlayId == 0) {
            overlayElem.querySelector(".form").classList.remove("visible");

            if (confirm("Вы уверены?")) {
                fetch(`/api/v1/product/${productsInfo.overlayProduct.id}`, {
                    method: "DELETE"
                }).then(async r => {
                    fetchProducts(() => overlayElem.classList.remove("visible"));
                });
            } else {
                overlayElem.classList.remove("visible");
            }
        }
    });

    fetchProducts();
</script>

{% endblock %}